* {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.menu-burger {
  color: #ffffff;
  font-size: 15px;
  display: none;
}

@media all and (min-width: 768px) and (max-width: 1280px) {
  .menu-burger {
    display: block;
    flex: 100%;
    order: 1;
    text-align: center;
    padding: 50px 0;
  }
  .header-menu {
    display: none;
  }
  .header-link {
    flex: 100%;
    text-align: center;
    order: 2;
  }

  .main-post,
  .main-post:nth-child(2n) {
    flex-direction: column !important;
  }
  .main-post-text {
    display: block !important;
    text-align: center;
  }
  .post-date {
    text-align: center !important;
  }

  .footer {
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
  }
  .footer div {
    margin: 7px;
    flex: 100%;
    text-align: center;
  }
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .menu-burger {
    display: block;
    flex: 100%;
    order: 1;
    text-align: center;
    padding: 50px 0;
  }
  .header-menu {
    display: none;
  }
  .header-link {
    flex: 100%;
    text-align: center;
    order: 2;
  }

  .main {
    flex-direction: column;
  }
  .main-post,
  .main-post:nth-child(2n) {
    flex-direction: column !important;
  }
  .main-post-text {
    display: block !important;
    text-align: center;
  }
  .post-date {
    text-align: center !important;
  }

  .footer {
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
  }
  .footer div {
    margin: 7px;
    flex: 100%;
    text-align: center;
  }
}

.header {
  width: 100%;
  margin: 0 auto;
}
.header-wrap {
  background-color: #ffffff;
}
.header-logo {
  background-color: #99ccff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px 35px;
  font-weight: 100;
}
.header-link {
  flex: 50%;
}
.header-link a {
  color: #ffffff;
  font-size: 40px;
}
.header-link span {
  color: #000000;
}
.header-menu li {
  font-size: 20px;
  padding: 28px;
  display: inline;
  margin-right: 20px;
}
.header-menu li:hover {
  background-color: #587ca6;
  cursor: pointer;
}
.header-menu a {
  color: #ffffff;
}
.header-slide {
  margin-top: 20px;
  padding: 250px 0;
  background-image: url(../img/section1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  color: #ffffff;
}
.header-slide-content {
  font-weight: 100;
  position: absolute;
  top: 52%;
  left: 2%;
}
.header-slide-content h1 {
  font-weight: 100;
  font-size: 35px;
}
.header-slide-content p {
  margin-top: 15px;
  font-weight: 400;
}

.main {
  display: flex;
  flex-wrap: nowrap;
  background-color: #ffffff;
}
.main-left-side {
  flex: 60%;
  margin-top: 25px;
  padding: 15px 25px;
}
.main-post {
  flex: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f3d250;
  color: #484848;
}
.main-post:hover {
  opacity: 0.95;
}
.main-post:nth-child(2n) {
  flex-direction: row-reverse;
}
.main-post:nth-child(2) {
  background-color: #8d8741;
}
.main-post:nth-child(3) {
  background-color: #659dbd;
}
.main-post:nth-child(4) {
  background-color: #daad86;
}
.main-post-picture {
  flex: 50%;
}
.main-post-picture img {
  width: 100%;
  height: 100%;
}
.main-post-text {
  flex: 50%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-self: flex-start;
  font-weight: 100;
}
.main-text-rev {
  flex-direction: row-reverse;
}
.post-title {
  flex: 80%;
  padding: 10px;
}
.post-title h3 {
  font-size: 30px;
  font-weight: 100;
  padding: 10px;
}
.post-date {
  flex: 5%;
  padding: 20px 10px;
  text-align: end;
  font-size: 30px;
}
.post-date span {
  font-size: 25px;
}
.main-post-text p {
  flex: 100%;
  align-self: baseline;
  padding: 10px;
}

.main-right-side {
  flex: 40%;
  margin-top: 25px;
  padding: 15px 25px;
}
.main-news {
  margin-bottom: 20px;
  outline: 2px solid #162b4d;
}
.main-news img {
  width: 100%;
}
.main-news-text {
  padding: 20px;
  font-weight: 100;
}
.main-news-text h3 {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 20px;
}
.news_button {
  margin: 20px 0;
  background-color: #ffffff;
  outline: solid 2px #111111;
  color: #111111;
  cursor: pointer;
  font-size: 20px;
  font-weight: 100;
  height: 30px;
  width: 140px;
}
.news_button:hover {
  background-color: #ffffff;
  outline: none;
  border-bottom: solid 2px #000000;
}

.footer {
  background-color: #162b4d;
  color: #484848;
  display: flex;
  justify-content: space-between;
  padding: 15px 35px;
}
